* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
}
.header .nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: #ffffff;
  z-index: 30;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.header .nav .nav__bars {
  width: 5%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.header .nav .nav__bars .nav__cuadrado {
  width: 90%;
  height: 70%;
  position: relative;
  z-index: 3;
  overflow: hidden;
  background-color: red;
}
.header .nav .nav__bars .nav__cuadrado .nav__linear--uno {
  width: 100%;
  height: 8%;
  position: absolute;
  margin-top: 5px;
  background-color: #000000;
  transition: all 0.5s;
}
.header .nav .nav__bars .nav__cuadrado .nav__linear--dos {
  width: 100%;
  height: 8%;
  margin-top: 20px;
  position: absolute;
  background-color: #000000;
  transition: all 0.5s;
}
.header .nav .nav__bars .nav__cuadrado .nav__linear--tres {
  width: 100%;
  height: 8%;
  margin-top: 35px;
  position: absolute;
  background-color: #000000;
  transition: all 0.5s;
}
.header .nav .nav__navbar {
  position: fixed;
  top: 10%;
  width: 100%;
  background-color: #ffffff;
  height: 30vh;
  top: 10%;
  transition: all 0.9s;
  z-index: 3;
}
.header .nav .nav__active {
  opacity: 0.4;
  top: -100%;
}
.header .nav .nav__icons {
  width: 10%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}
.header .nav .nav__icons .nav__title {
  display: inline-block;
}
.header .nav .nav__icons .nav__icon {
  width: 60%;
  height: 100%;
}
.header .nav .nav__shopping {
  width: 5%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.header .nav .nav__shopping .nav__cart {
  width: 100%;
  height: 100%;
}
.header .nav .nav__shopping .nav__product {
  position: absolute;
  top: 18px;
  left: 33px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #000000;
}
.header .header__carrusel {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.header .header__carrusel .header__arrows {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 4;
}
.header .header__carrusel .header__arrows .header__left {
  z-index: 10;
  cursor: pointer;
}
.header .header__carrusel .header__arrows .header__right {
  cursor: pointer;
  z-index: 10;
}
.header .header__carrusel .header__sliders {
  width: 300%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  z-index: 1;
  /* animation-name: carrusel;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-delay: .5s;
  animation-timing-function:linear;
  animation-direction:alternate-reverse; */
}
.header .header__carrusel .header__sliders .header__slide-1 {
  height: 100%;
  width: 100%;
  background: url(../../img/fondos/img-1.jpg);
  background-size: cover;
}
.header .header__carrusel .header__sliders .header__slide-2 {
  height: 100%;
  width: 100%;
  background: url(../../img/fondos/img-2.jpg);
  background-size: cover;
}
.header .header__carrusel .header__sliders .header__slide-3 {
  height: 100%;
  width: 100%;
  background: url(../../img/fondos/img-3.jpg);
  background-size: cover;
}
.header .header__compras {
  position: fixed;
  width: 30%;
  height: 90vh;
  background-color: greenyellow;
  top: 10%;
  right: 0;
  transform: translateX(0%);
  z-index: 14;
  transition: all 0.9s;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.header .header__compras .header__misCompras {
  background-color: red;
  width: 100%;
  height: 80%;
  overflow: auto;
}
.header .header__compras .header__totalAPagar {
  background-color: green;
  height: 15%;
  width: 100%;
}
.header .header__comprasActive {
  transform: translateX(100%);
  opacity: 0;
}

/* @keyframes carrusel{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-1366px);
    }
    100%{
        transform: translateX(-2732px);
    }
} */
.contenedor__marcas {
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.contenedor__marcas .contenedor__mark {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
}
.contenedor__marcas .contenedor__mark .contenedor__marca {
  width: 10%;
  height: 60%;
}
.contenedor__marcas .contenedor__mark .contenedor__marca .contenedor__imgMark {
  width: 100%;
  height: 100%;
}
.contenedor__marcas .contenedor__markActive {
  opacity: 0;
}

.contenedor__productos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
.contenedor__productos .contenedor__form {
  width: 20%;
  height: auto;
  background-color: red;
}
.contenedor__productos .contenedor__form .contenedor__formMark {
  background-color: green;
  width: 100%;
  height: auto;
}
.contenedor__productos .contenedor__form .contenedor__formMark .contenedor__tituloMark {
  width: 100%;
  height: 5vh;
  font-size: 2rem;
  background-color: blue;
}
.contenedor__productos .contenedor__form .contenedor__formMark .contenedor__tituloMark .contenedor__menosMark {
  display: none;
  margin-left: 50px;
}
.contenedor__productos .contenedor__form .contenedor__formMark .contenedor__tituloMark .contenedor__masMark {
  margin-left: 50px;
}
.contenedor__productos .contenedor__form .contenedor__formMark .contenedor__checkMark {
  width: 100%;
  overflow: hidden;
  height: 0vh;
  background-color: coral;
}
.contenedor__productos .contenedor__form .contenedor__tamanio {
  width: 100%;
  height: auto;
  background-color: violet;
}
.contenedor__productos .contenedor__form .contenedor__tamanio .contenedor__pantalla {
  width: 100%;
  height: 5vh;
  font-size: 1.4rem;
  background-color: blue;
}
.contenedor__productos .contenedor__form .contenedor__tamanio .contenedor__pantalla .contenedor__masPantalla {
  margin-left: 5px;
}
.contenedor__productos .contenedor__form .contenedor__tamanio .contenedor__pantalla .contenedor__menosPantalla {
  display: none;
}
.contenedor__productos .contenedor__form .contenedor__tamanio .contenedor__pulgadas {
  width: 100%;
  overflow: hidden;
  height: 0vh;
  background-color: coral;
}
.contenedor__productos .contenedor__form .contenedor__precio {
  width: 100%;
  height: auto;
  background-color: violet;
}
.contenedor__productos .contenedor__form .contenedor__precio .contenedor__precios {
  width: 100%;
  height: 5vh;
  font-size: 1.4rem;
  background-color: blue;
}
.contenedor__productos .contenedor__form .contenedor__precio .contenedor__precios .contenedor__menosPrecio {
  display: none;
}
.contenedor__productos .contenedor__form .contenedor__precio .contenedor__rango {
  width: 100%;
  overflow: hidden;
  height: 0vh;
  background-color: coral;
}
.contenedor__productos .contenedor__stock {
  width: 80%;
}
.contenedor__productos .contenedor__stock .contenedor__laptops {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-evenly;
  row-gap: 20px;
  width: 100%;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop {
  width: 30%;
  height: 70vh;
  background-color: #ffffff;
  display: grid;
  border: 1px solid #000000;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(10, 10%);
  grid-template-areas: "marca pantalla" "imagen imagen" "imagen imagen" "imagen imagen" "imagen imagen" "imagen imagen" "titulo titulo" "componentes componentes" "componentes componentes" "precio boton";
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopMarca {
  grid-area: marca;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopMarca .contenedor__marcaImg {
  width: 60%;
  height: 70%;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopPantalla {
  grid-area: pantalla;
  position: relative;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopPantalla .contenedor__pantallaImg {
  position: absolute;
  right: 0;
  width: 50%;
  height: 70%;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopImagen {
  grid-area: imagen;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopImagen .contenedor__laptopImg {
  width: 100%;
  height: 100%;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopTitulo {
  grid-area: titulo;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopComponentes {
  grid-area: componentes;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33%);
  border-bottom: 1px #000000 solid;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopComponentes .contenedor__laptopComponente {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopComponentes .contenedor__laptopComponente .contenedor__componenteImg {
  width: 20%;
  height: 100%;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopComponentes .contenedor__laptopComponente .contenedor__componenteParrafo {
  width: 70%;
  height: 60%;
  font-size: 11px;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__precios {
  grid-area: precio;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__boton {
  grid-area: boton;
  border: none;
  cursor: pointer;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__boton:hover {
  background-color: red;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__laptopTitulo:nth-child(4) {
  justify-self: center;
  align-self: center;
}
.contenedor__productos .contenedor__stock .contenedor__laptops .contenedor__laptop .contenedor__precios:nth-child(6) {
  justify-self: center;
  align-self: center;
}

/* 
contenedor__laptopMarca
contenedor__laptopPantalla
contenedor__laptopImagen
contenedor__laptopTitulo
contenedor__laptopComponentes
contenedor__precios
contenedor__boton
*//*# sourceMappingURL=main.css.map */