.contenedor__productos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    .contenedor__form{
        width: 20%;
        height: auto;
        background-color: red;
    }
    .contenedor__stock{
        width: 80%;
        .contenedor__laptops{
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            row-gap: 20px;
            justify-content: space-evenly;
            background-color:green;
            .contenedor__laptop{
                width: 30%;
                height: 70vh;
                background-color: #ffffff;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(10,10%);
                grid-template-areas:
                "marca pantalla"
                "imagen imagen"
                "imagen imagen"
                "imagen imagen"
                "imagen imagen"
                "imagen imagen"
                "titulo titulo"
                "componentes componentes"
                "componentes componentes"
                "precio boton"                
                ;
                .contenedor__laptopMarca{
                    grid-area: marca;
                }
                .contenedor__laptopPantalla{
                    grid-area: pantalla;
                }
                .contenedor__laptopImagen{
                    grid-area: imagen;
                    .contenedor__laptopImg{
                        width: 100%;
                        height: 100%;
                    }
                }
                .contenedor__laptopTitulo{
                    grid-area: titulo;
                }
                .contenedor__laptopComponentes{
                    grid-area: componentes;
                    background-color: blue;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: repeat(3,33%);
                    .contenedor__laptopComponente{
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        align-items: center;
                        .contenedor__componenteImg{
                            width: 20%;
                            height: 100%;
                        }
                        .contenedor__componenteParrafo{
                            background-color: green;
                            width: 70%;
                            height: 60%;
                        }
                    }
                }
                .contenedor__precios{
                    grid-area: precio;
                }
                .contenedor__boton{
                    grid-area: boton;
                }
                .contenedor__laptopTitulo:nth-child(4){
                    justify-self: center;
                    align-self: center;
                }
                .contenedor__precios:nth-child(6){
                    justify-self: center;
                    align-self: center;
                }
            }
        }
    }
}

/* 
contenedor__laptopMarca
contenedor__laptopPantalla
contenedor__laptopImagen
contenedor__laptopTitulo
contenedor__laptopComponentes
contenedor__precios
contenedor__boton
*/