.contenedor__productos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    .contenedor__form{
        width: 20%;
        height: auto;
        background-color: red;
        .contenedor__formMark{
            background-color: green;
            width: 100%;
            height: auto;
            .contenedor__tituloMark{
                width: 100%;
                height: 5vh;
                font-size: 2rem;
                background-color: blue;
                .contenedor__menosMark{
                    display: none;
                    margin-left: 50px;
                }
                .contenedor__masMark{
                    margin-left: 50px;
                }
            }
            .contenedor__checkMark{
                width: 100%;
                overflow: hidden;
                height: 0vh;
                background-color: coral;
            }
        }
        .contenedor__tamanio{
            width: 100%;
            height: auto;
            background-color: violet;
            .contenedor__pantalla{
                width: 100%;
                height: 5vh;
                font-size: 1.4rem;
                background-color: blue;
                .contenedor__masPantalla{
                    margin-left: 5px;
                }
                .contenedor__menosPantalla{
                    display: none;
                }
            }
            .contenedor__pulgadas{
                width: 100%;
                overflow: hidden;
                height: 0vh;
                background-color: coral;
            }
        }
        .contenedor__precio{
            width: 100%;
            height: auto;
            background-color: violet;
            .contenedor__precios{
                width: 100%;
                height: 5vh;
                font-size: 1.4rem;
                background-color: blue;
                .contenedor__masPrecio{

                }
                .contenedor__menosPrecio{
                    display: none;
                }
            }
            .contenedor__rango{
                width: 100%;
                overflow: hidden;
                height: 0vh;
                background-color: coral;
            }
        }
    }
    .contenedor__stock{
        width: 80%;
        .contenedor__laptops{
            display: flex;
            flex-flow: row wrap;
            height: 100%;
            justify-content: space-evenly;
            row-gap: 20px;
            width: 100%;
            .contenedor__laptop{
                width: 30%;
                height: 70vh;
                background-color: #ffffff;
                display: grid;
                border: 1px solid #000000;
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(10,10%);
                grid-template-areas:
                "marca pantalla"
                "imagen imagen"
                "imagen imagen"
                "imagen imagen"
                "imagen imagen"
                "imagen imagen"
                "titulo titulo"
                "componentes componentes"
                "componentes componentes"
                "precio boton"                
                ;
                .contenedor__laptopMarca{
                    grid-area: marca;
                    .contenedor__marcaImg{
                        width: 60%;
                        height: 70%;
                    }
                }
                .contenedor__laptopPantalla{
                    grid-area: pantalla;
                    position: relative;
                    .contenedor__pantallaImg{
                        position:absolute;
                        right: 0;
                        width: 50%;
                        height: 70%;
                    }
                }
                .contenedor__laptopImagen{
                    grid-area: imagen;
                    .contenedor__laptopImg{
                        width: 100%;
                        height: 100%;
                    }
                }
                .contenedor__laptopTitulo{
                    grid-area: titulo;
                }
                .contenedor__laptopComponentes{
                    grid-area: componentes;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: repeat(3,33%);
                    border-bottom: 1px #000000 solid;
                    .contenedor__laptopComponente{
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content:space-evenly;
                        align-items: center;
                        .contenedor__componenteImg{
                            width: 20%;
                            height: 100%;
                        }
                        .contenedor__componenteParrafo{
                            width: 70%;
                            height: 60%;
                            font-size: 11px;
                        }
                    }
                }
                .contenedor__precios{
                    grid-area: precio;
                }
                .contenedor__boton{
                    grid-area: boton;
                    border: none;
                    cursor: pointer;
                }
                .contenedor__boton:hover{
                    background-color: red;
                }
                .contenedor__laptopTitulo:nth-child(4){
                    justify-self: center;
                    align-self: center;
                }
                .contenedor__precios:nth-child(6){
                    justify-self: center;
                    align-self: center;
                }
            }
        }
    }
}

/* 
contenedor__laptopMarca
contenedor__laptopPantalla
contenedor__laptopImagen
contenedor__laptopTitulo
contenedor__laptopComponentes
contenedor__precios
contenedor__boton
*/